
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #e43c5c;
  text-decoration: none;
}

a:hover {
  color: #ea6981;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #e43c5c;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 60px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #e9607a;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  max-height: 40px;
}

#header.header-scrolled,
#header.header-inner-pages {
  background: rgba(0, 0, 0, 0.9);
  padding: 12px 0;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar>ul>li {
  white-space: nowrap;
  padding: 10px 0 10px 24px;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 18px;
  padding: 0 4px;
  white-space: nowrap;
  transition: 0.3s;
  letter-spacing: 0.4px;
  position: relative;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar>ul>li>a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: #ee9c04;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
  visibility: visible;
  transform: scaleX(1);
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #fff;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 24px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  color: #493c3e;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #e43c5c;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(45, 37, 38, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile>ul>li {
  padding: 0;
}

.navbar-mobile a:hover:before,
.navbar-mobile li:hover>a:before,
.navbar-mobile .active:before {
  visibility: hidden;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #493c3e;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: white;
  border-radius: 5px;
  background-color:rgb(34, 131, 240);
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #e43c5c;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/IoT.jpg") top center;
  background-size: cover;
  position: relative;
}

#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
}

#hero h3 {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  font-size: 35px;
  padding: 10px 30px;
  margin-bottom: 100px;
  border-radius: 50px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #fff;
}

#hero h2 {
  color: #eee;
  margin-bottom: 40px;
  font-size: 30px;
}
#hero .btn-get-started {
  margin-top: 100px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 23px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 30px 9px 30px;
  border-radius: 50px;
  transition: 0.5s;
  border: 2px solid #fff;
  color: #fff;
}

#hero .btn-get-started:hover {
  background: #e43c5c;
  border: 2px solid #e43c5c;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero h3 {
    font-size: 22px;
  }

  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

@media (max-height: 500px) {
  #hero {
    height: 150vh;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: rgb(255, 255, 255);
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 40px;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 8px 20px;
  line-height: 1;
  margin: 0;
  background: #c1d609d7;
  color: black;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 50px;
}

.section-title h3 {
  margin: 15px 0 0 0;
  font-size: 36px;
  font-weight: 700;
  margin-top: 5%;
  color: #ef9139;
}

.section-title p {
  font-size: 24px;
  margin: 15px auto 0 auto;
}

@media (min-width: 1024px) {
  .section-title p {
    width: 50%;
  }
}

/*--------------------------------------------------------------
#Overview
--------------------------------------------------------------*/

.Overview .content h3 {
  font-weight: 600;
  font-size: 26px;
}

.Overview .content ul {
  list-style: none;
  padding: 0;
}

.Overview .content ul li {
  padding-left: 28px;
  position: relative;
}

.Overview .content ul li+li {
  margin-top: 10px;
}

.Overview .content ul i {
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 20px;
  color: #e43c5c;
  line-height: 1;
}

.Overview .content p:last-child {
  margin-bottom: 0;
}

.Overview .content .btn-learn-more {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.3s;
  line-height: 1;
  color: #e43c5c;
  animation-delay: 0.8s;
  margin-top: 6px;
  border: 2px solid #e43c5c;
}
.Overview .content .btn-learn-more:hover {
  background: #e43c5c;
  color: #ffffff;
  text-decoration: none;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.About {
  background-color: #8bf4f9;
  padding-bottom: 30px;
  
}

/* Định dạng chung cho các thẻ */
.About .body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.About h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  text-align: center;
}

.About .card {
  background-color: #fff;
  border: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.About .card:hover {
  transform: translateY(-25px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.About .card-title {
  font-size: 24px;
  font-weight: bold;
}

.About .card-text {
  font-size: 16px;
  line-height: 1.5;
}

/* Định dạng cho kích thước ảnh */
.About .d-block {
  width: 100%;
  height: auto;
}

/* Định dạng cho các cột */
.About .col-md-4, .col-lg-4 {
  margin-bottom: 40px;
}
/*--------------------------------------------------------------
# Objective
--------------------------------------------------------------*/
.objective {
  background-color: #f7f7f7;
  padding: 80px 0;
}

.objective .section-title h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}

.objective .section-title p {
  color: #666;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 60px;
  text-align: center;
}

.objective .objective-list li {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.objective .objective-list li::before {
  content: counter(list-item, decimal);
  counter-increment: list-item;
  margin-right: 10px;
  color: #3b3b3b;
  font-size: 28px;
  font-weight: 700;
}

/*--------------------------------------------------------------
# Process
--------------------------------------------------------------*/
.Process .carousel-item h5{
  color :#ee9c04;
  font-size: 36px;
}
.Process .carousel-item p{
  color : #ddf90b;
  font-size: 20px;
}
/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team {
  background: rgb(255, 205, 156);
  padding: 60px 0;
}

.team .member {
  margin-bottom: 30px;
  overflow: hidden;
  text-align: center;
  border-radius: 40px;
  background: #fce36476;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.team .member .member-img {
  position: relative;
  overflow: hidden;
}

.team .member .social {
  margin-top: 20px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team .member .social a {
  margin: 0 10px;
  display: inline-flex;
  align-items: center;
}
.team .member .social a:hover img {
  transform: scale(1.5);
  color: #e43c5c;
}

.team .member .member-info {
  padding: 25px 15px;
}

.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 24px;
  color: #493c3e;
}

.team .member .member-info span {
  display: block;
  font-size: 18px;
  font-weight: 400;
  color: #493c3e;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: white;
  font-size: 14px;
  background: #f6f4f4;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
#footer .footer-top img {
  width: 30%;
  border-radius: 50%;
  margin: 10px auto;
}
.footer-contact .logo {
  display: flex;
  align-items: center;
}
.footer-contact .logo img {
  margin-right: 10px;
  max-height: 500px;
}
.footer-contact .name {
  display: flex;
  flex-direction: column;
}
#footer .name{
  margin-top: 30px;
  text-align: center;
}
#footer .footer-top {
  padding: 120px 0 80px 0;
  background: #095cec;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}
#footer .footer-top .footer-contact h3 {
  font-size: 26px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
  color :white;
}
#footer h4 {
  font-size: 26px;
  font-weight: bold;
  color: white;
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-top .footer-contact p {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Nunito", sans-serif;
  color: white;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: white;
  font-size: 24px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: white;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #0ea1d2;
}

#footer .footer-newsletter {
  font-size: 15px;
}
#footer .footer-newsletter button {
  background-color: rgb(7, 216, 63);
  color: white;
}
#footer .footer-newsletter button:hover {
  background-color: rgb(7, 80, 216);
}
